ion-content {
  --background: #68ff6a;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 32px;
}

#container p {
  margin-bottom: 400px;

  strong {
    font-size: 20px;
    line-height: 26px;
  }
}

ion-input {
  --background: #fff;
}
