<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SafeArea IME Padding Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SafeArea IME Padding Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>
      Demo app for showing the Keyboard bug on Android with WebView &gt; 144
    </strong>
    <p>Your WebView version: {{ deviceInfo()?.webViewVersion }}</p>
    <ion-input placeholder="Focus this input..." fill="outline"></ion-input>
  </div>
</ion-content>
